---
const apiKey = import.meta.env.BUILDER_API_KEY;

const handleError = (err) => {
  console.log(err);
  // The requested Builder content could not be found.
  if (err.response.status === 404) {
    return { data: null };
  }
  throw err;
};

const encodedUrl = encodeURIComponent('/homepage');

const { data: pageData } = await fetch(
  `https://cdn.builder.io/api/v1/html/page?apiKey=${apiKey}&url=${encodedUrl}`
)
  .then((res) => res.json())
  .catch(handleError);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<h1>Builder Trial</h1>
	<builder-component model='page' api-key={apiKey}/>
	<script async src='https://cdn.builder.io/js/webcomponents'></script>
</html>
